Source: libarchive
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), autotools-dev, libbz2-dev, zlib1g-dev, libacl1-dev, e2fslibs-dev
Standards-Version: 3.6.2
Section: libs

Package: libarchive-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libbz2-dev, zlib1g-dev, libacl1-dev, e2fslibs-dev
#libarchive2 (= ${Source-Version})
Description: Single library to read/write tar, cpio, pax, zip, iso9660, etc.
 The libarchive library provides a flexible interface for reading and
 writing streaming archive files such as tar and cpio.  The library is
 inherently stream-oriented; readers serially iterate through the archive,
 writers serially add things to the archive.  In particular, note that
 there is no built-in support for random access nor for in-place
 modification.
 .
 libarchive can read at least five tar formats, four cpio formats,
 ISO9660 CD/DVD images (including RockRidge extensions), and ZIP
 files.
 .
 libarchive can write two tar formats (ustar and pax), one cpio format
 (odc/POSIX), and two types of shar files (with and without uuencoding).
 .
 The bsdtar Debian package, which is the default tar(1) on FreeBSD,
 is built using libarchive. 
 .
 This package provides a static library only.
 .
 There is also a manpage, tar(5), in this package that provides
 an excellent description of the various tar file formats.

#Package: libarchive2
#Section: libs
#Architecture: any
#Depends: ${shlibs:Depends}, ${misc:Depends}
#Description: <insert up to 60 chars description>
# <insert long description, indented with spaces>
